aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anthropic
anyio
asyncer
asyncpg
attrs
backoff
bcrypt
bidict
cachetools
certifi
cffi
chainlit
charset-normalizer
chevron
click
colorama
cryptography
dataclasses-json
Deprecated
distro
dnspython
docstring_parser
email_validator
fastapi
fastapi-middleware
filelock
filetype
frozenlist
fsspec
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-firestore
google-cloud-monitoring
google-cloud-resource-manager
google-cloud-secret-manager
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
importlib_metadata==8.7.0
inflection==0.5.1
iniconfig==2.1.0
Jinja2==3.1.6
jiter==0.10.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jwt==1.4.0
Lazify==0.4.0
literalai==0.1.201
MarkupSafe==3.0.2
marshmallow==3.26.1
mcp==1.12.2
monotonic==1.6
multidict==6.6.3
mypy_extensions==1.1.0
narwhals==1.48.1
nest-asyncio==1.6.0
numpy==2.3.1
ollama==0.5.1
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-alephalpha
opentelemetry-instrumentation-anthropic
opentelemetry-instrumentation-bedrock
opentelemetry-instrumentation-chromadb
opentelemetry-instrumentation-cohere
opentelemetry-instrumentation-crewai
opentelemetry-instrumentation-google-generativeai
opentelemetry-instrumentation-groq
opentelemetry-instrumentation-haystack
opentelemetry-instrumentation-lancedb==0.43.1
opentelemetry-instrumentation-langchain==0.43.1
opentelemetry-instrumentation-llamaindex==0.43.1
opentelemetry-instrumentation-logging==0.55b1
opentelemetry-instrumentation-marqo==0.43.1
opentelemetry-instrumentation-mcp==0.43.1
opentelemetry-instrumentation-milvus==0.43.1
opentelemetry-instrumentation-mistralai==0.43.1
opentelemetry-instrumentation-ollama==0.43.1
opentelemetry-instrumentation-openai==0.43.1
opentelemetry-instrumentation-openai-agents==0.43.1
opentelemetry-instrumentation-pinecone==0.43.1
opentelemetry-instrumentation-qdrant==0.43.1
opentelemetry-instrumentation-redis==0.55b1
opentelemetry-instrumentation-replicate==0.43.1
opentelemetry-instrumentation-requests==0.55b1
opentelemetry-instrumentation-sagemaker==0.43.1
opentelemetry-instrumentation-sqlalchemy==0.55b1
opentelemetry-instrumentation-threading==0.55b1
opentelemetry-instrumentation-together==0.43.1
opentelemetry-instrumentation-transformers==0.43.1
opentelemetry-instrumentation-urllib3==0.55b1
opentelemetry-instrumentation-vertexai==0.43.1
opentelemetry-instrumentation-watsonx==0.43.1
opentelemetry-instrumentation-weaviate==0.43.1
# Removing due to protobuf conflict
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-semantic-conventions-ai==0.4.11
opentelemetry-util-http==0.55b1
packaging==25.0
plotly==6.2.0
pluggy==1.6.0
posthog==3.25.0
prometheus_client==0.22.1
propcache==0.3.2
proto-plus==1.26.1
protobuf>=5.0,<6.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.10.1
pytest==8.4.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-engineio==4.12.2
python-multipart==0.0.18
python-socketio==5.13.0
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rpds-py==0.26.0
rsa==4.9.1
shapely==2.1.1
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
sse-starlette==2.4.1
starlette==0.46.2
structlog==25.2.0
syncer==2.0.3
tenacity==8.5.0
tiktoken==0.9.0
tokenizers==0.21.2
tomli==2.2.1
tqdm==4.67.1
traceloop-sdk==0.43.1
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions==4.14.0
unicorn==2.1.3
urllib3==2.5.0
uvicorn==0.34.3
watchfiles==0.20.0
websockets==15.0.1
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.1
zipp==3.23.0
